<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bwel.whatifgolf"
        version     = "1.0.0" >


    <name>What If Golf</name>

    <description>
        What If Golf
    </description>

    <author>
        Burton Weldy
    </author>

	<gap:platform name="android" />
	
	<gap:splash src="splash.png" />
	<gap:icon src="icon.png" />
	
</widget>